/* ./src/index.css */
@tailwind base;
@tailwind components;
@tailwind utilities;

.link {
  @apply text-blue-400 hover:text-pink-400 cursor-pointer;
}

/** mobile scroll bar enabled on desktop */
::-webkit-scrollbar {
  width: 2px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #000000;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: rgb(96 165 250)
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: rgb(244 114 182);
}
